# Node / Vue
node_modules
dist
.histoire
.vite
*.tsbuildinfo

# Python
__pycache__/
*/__pycache__/*
.venv/
*.pyc
*.egg-info/
build/

# Data
data/*
!data/.gitkeep
*results.json
*data.json

# OS cruft
.DS_Store
Thumbs.db

# Editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
